
@{
    ViewBag.Title = "Dn";
}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">Dragon Nest Videolar</div>
                    <div class="panel-body">
                        <a href='/Home/DnVideo'><img class="img-responsive" src="~/Content/images/dragon-nest (525 x 550).png" alt=""></a>
                    </div>
                    <div class="panel-footer text-center">
                        <p>Dragon Nest Videolar</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">Dragon Nest Rehberler</div>
                    <div class="panel-body">
                        <a href='/Home/DnRehber'><img class="img-responsive" src="~/Content/images/dragon-nest (525 x 550).png" alt=""></a>
                    </div>
                    <div class="panel-footer text-center">
                        <p>Dragon Nest Rehberler</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>