
@{
    ViewBag.Title = "Oyunlar";
}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div align="center">
                        <div class="panel panel-default">
                            <div class="panel-heading">Oyununu Seç</div>
                            <div class="panel-body">
                                <p>
                                    Oyununu Seç Ve Sınırsız Aksiyondaki İlk Adımını At
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a href="/Home/Lol"><img class="img-responsive" src="~/Content/images/GpGC8aTW (525 x 550).jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a href="/Home/Dn"><img class="img-responsive" src="~/Content/images/dragon-nest (525 x 550).png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

