
@{
    ViewBag.Title = "League Of Legends";
}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">League Of Legends Videolar</div>
                    <div class="panel-body">
                        <a href='/Home/LolVideo'><img class="img-responsive" src="~/Content/images/GpGC8aTW (525 x 550).jpg" alt=""></a>
                    </div>
                    <div class="panel-footer text-center">
                        <p>Lolle İlgili Videolar</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">League Of Legends Rehberler</div>
                    <div class="panel-body">
                        <a href='/Home/LolRehber'><img class="img-responsive" src="~/Content/images/GpGC8aTW (525 x 550).jpg" alt=""></a>
                    </div>
                    <div class="panel-footer text-center">
                        <p>Lol ile İlgili Rehberler</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
